/* This file is served from the 'public/css/' directory, as implied by the 
  layout function's include-css and the wrap-resource middleware.
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}

body {
  background-color: #333333; /* dark gray */
  color: #00FF00;            /* green */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  padding: 1em;
}

